<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="services.ExtentReporting"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="java-selenium-framework">
        <parameter name="browser" value="chrome"/>
        <classes>

            <class name="tests.LoginTest"/>

        </classes>
    </test>
</suite>